<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Головна сторінка</title>
  <link rel="stylesheet" href="/static/css/HeadSide.css">
  <link rel="stylesheet" href="/static/css/header.css">
  <script src="/static/js/HederScript.js"></script>
</head>
<body>
<!-- Шапка сторінки -->
<header>
  <div class="header-content">
    <button id="toggleNav">Меню</button>
    <div class="logo-Itybe">
    <a href="/ITube/headSide">
      <img src="/static/img/ITubeIcon.png" alt="ITube Icon" id="itubeIcon">
    </a>
    </div>

    <div>
    <form class="search-form">
      <div class="search-container">
        <input type="text" name="searchText" placeholder="Search...">
        <button type="submit">Find</button>
      </div>
    </form>
  </div>

    <nav th:if="${not hideRegisterButton}">
      <ul>
        <li>
          <a class="register" href="#" onclick="openPopup('register')">Sign up</a>
        </li>
        <li>
          <a class="login" href="#" onclick="openPopup('login')">Log in</a>
        </li>
      </ul>
    </nav>
    <div id="popup" class="popup">
      <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <nav>
          <ul>
            <li>
              <a class="showLoginForm" href="/ITube/new-user" onclick="openPopup('register')">Sign up</a>
            </li>
            <li>
              <a class="showRegistrationForm" href="/login" >Log in</a>
            </li>
            <li>
              <a class="loginWithGoogle" href="/ITube/googleLogin">Login with Google</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="header-avatar-user" th:if="${hideRegisterButton}">
      <img th:src="${avatarUrl}" alt="Avatar" id="userAvatar">
      <script th:if="${hideRegisterButton}">
        const userAvatarElement = document.getElementById("userAvatar");

        if (userAvatarElement) {
          fetch("/ITube/getUserAvatar", {
            method: "GET",
            headers: {
            }
          })
                  .then(response => {
                    if (response.ok) {
                      return response.text();
                    } else {
                      throw new Error("Не вдалося отримати фото користувача");
                    }
                  })
                  .then(base64Image => {
                    userAvatarElement.src = base64Image;
                  })
                  .catch(error => {
                    console.error(error);
                  });
        }
      </script>
    </div>

  </div>


  </div>
</header>

<div class="sidebar">
  <!-- посилання для навігації -->
  <ul>
    <li><a href="/ITube/headSide">Головна</a></li>
    <li><a href="/about">Про нас</a></li>
    <li><a href="/contact">Мої вподобайки</a></li>
  </ul>
</div>
<!-- Основний контент сторінки -->
<div class="main-content">
  <div class="video-list">
    <div th:each="video : ${videoList}" class="video-thumbnail">
      <a th:href="@{'/ITube/video/' + ${video.id}}">
        <img th:src="${video.dataUri}" alt="Video Thumbnail" />
        <h3 th:text="${video.title}" th:maxlength="65"></h3>
      </a>

    </div>
  </div>
</div>


<script>
</script>
</body>
</html>
