<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/Stydio.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/HederScript.js"></script>
    <title>IStudio</title>
</head>
<body>
<header>
  <div class="header-content">
    <button id="toggleNav">Меню</button>
    <div class="logo-Itybe">
      <a href="/ITube/headSide">
        <img src="/static/img/ITubeIcon.png" alt="ITube Icon" id="itubeIcon">
      </a>
    </div>

    <div>
      <form class="search-form">
        <div class="search-container">
          <input type="text" name="searchText" placeholder="Search...">
          <button type="submit">Find</button>
        </div>
      </form>
    </div>

    <div class="header-avatar-user">
      <img th:src="${avatarUrl}" alt="Avatar" id="userAvatar">
    </div>

  </div>
  </div>
</header>
<div class="sidebar" >
  <div class="user-container">
    <div class="user-avatar">
      <img src="/static/Img/Stoned_Fox_.jpg" alt="Avatar">
    </div>
    <div class="user-name-box">
      <p class="user-name" th:text="${userName}">a</p>
    </div>
  </div>

  <ul>
    <li><a href="/home">Контент</a></li>
    <li><a href="/about">Про нас</a></li>
    <li><a href="/contact">Контакти</a></li>
  </ul>
</div>

<div class="popup-overlay" id="popupOverlay"></div>
<div class="popup" id="popup">
  <div class="popup-container">
    <div class="file-upload-container" id="file-input">
      <div class="file-upload-animation">

      </div>
      <p class="label">Перетягніть сюди відео або натисніть кнопку нижче, щоб вибрати їх на комп'ютері.</p>
      <p class="sublabel">Доки ви не опублікуєте відео, доступ до них буде обмежено.</p>

      <div class="error-area">
        <div class="warning-icon">
        </div>
        <div class="error-details" id="error-message"></div>
      </div>

      <button id="select-files-button" class="file-upload-button" tabindex="0" aria-disabled="false" role="button">
        Вибрать відео
      </button>
      <input type="file" name="Filedata" multiple="" style="display: none;">
    </div>
  </div>
</div>


<div class="upload-popup-container" id="uploadPopup">
  <form class="upload-form">
    <div class="tooltip-container">
      <label for="videoTitle" style="color: #1f1f1f">Назва відео:</label>
      <input type="text" id="videoTitle" name="videoTitle" required>
      <div class="icon-container" onmouseenter="showTooltip('title', 'top')" onmouseleave="hideTooltip('title')">
        <span class="mdi mdi-help-circle help-icon" onclick="toggleTooltip('title', 'top')"></span>
        <div class="tooltip tooltip-top" id="tooltip-title">
          <p>Яскраві назви допомагають привернути увагу глядачів. Відмінна ідея – додати в назву ролика ключові слова, за допомогую яких глядачі шукають подібний контент.</p>
        </div>
      </div>
    </div>

    <div class="tooltip-container">
      <label for="videoPreview" style="color: #1f1f1f">Превью відео:</label>
      <input type="file" id="videoPreview" name="videoPreview" accept="image/*" required onchange="previewImage()">
      <div class="icon-container" onmouseenter="showTooltip('preview', 'bottom')" onmouseleave="hideTooltip('preview')">
        <span class="mdi mdi-help-circle help-icon" onclick="toggleTooltip('preview', 'bottom')"></span>
        <div class="tooltip tooltip-bottom" id="tooltip-preview">
          <p>Тут можна завантажити мініатюру (прев'ю) для вашого відео.</p>
        </div>
      </div>
    </div>

    <div id="previewContainer">
      <img class="preview-image" id="previewImage" alt="Превью изображение">
    </div>

    <label for="videoDescription" style="color: #1f1f1f">Опис відео:</label>
    <textarea id="videoDescription" name="videoDescription" rows="4" required></textarea>

    <button type="button" onclick="submitVideo()">Завантажити відео</button>
  </form>
</div>

<div class="main-container" id="mainContainer">
  <div class="channel-control-panel">
    <div class="box-input-video">
      <div class="box-img-cameramen">
        <img src="/static/Img/cameramen.png">
      </div>
      <div class="box-info">
        <h3 class="box-input-video-text">Тут буде наведено показники відео, яке ви завантажите останнім.
          Щоб додати ролик, натисніть нижче.</h3>
      </div>
      <button onclick="openTooltip()">Завантажити нове відео</button>
    </div>
  </div>
</div>
<script>


  function togglePopup() {
    const popup = document.getElementById('popup');
    popup.style.display = 'none';

    const uploadPopup = document.getElementById('uploadPopup');
    uploadPopup.style.display = uploadPopup.style.display === 'none' ? 'block' : 'none';
  }

  function submitVideo() {
    alert('Відео успішно завантажено!');
    togglePopup();
    closePopup();
  }

  document.addEventListener('DOMContentLoaded', function () {
    const fileInput = document.querySelector('input[name="Filedata"]');
    const popupContainer = document.getElementById('popup');
    const uploadPopup = document.getElementById('uploadPopup');

    popupContainer.addEventListener('drop', function (e) {
      e.preventDefault();
      popupContainer.classList.remove('dragover');
      uploadPopup.style.display = 'block';
      popupContainer.style.display = 'none';
    });

    document.getElementById('select-files-button').addEventListener('click', function () {
      fileInput.click();
    });

    fileInput.addEventListener('change', function () {
      uploadPopup.style.display = 'block';
      popupContainer.style.display = 'none';
    });
  });

  function showTooltip(id, position) {
    const tooltip = document.getElementById(`tooltip-${id}`);
    tooltip.style.display = 'block';
    tooltip.classList.add(`tooltip-${position}`);
  }

  function hideTooltip(id) {
    const tooltip = document.getElementById(`tooltip-${id}`);
    tooltip.style.display = 'none';
    tooltip.classList.remove('tooltip-top', 'tooltip-bottom');
  }

  function toggleTooltip(id, position) {
    const tooltip = document.getElementById(`tooltip-${id}`);
    tooltip.style.display = tooltip.style.display === 'block' ? 'none' : 'block';
    tooltip.classList.toggle(`tooltip-${position}`);
  }


  document.addEventListener('click', function (event) {
    const iconContainers = document.querySelectorAll('.icon-container');
    iconContainers.forEach((iconContainer) => {
      const tooltipId = iconContainer.getAttribute('data-tooltip');
      const tooltip = document.getElementById(`tooltip-${tooltipId}`);

      if (!iconContainer.contains(event.target) && !tooltip.contains(event.target)) {
        tooltip.style.display = 'none';
        tooltip.classList.remove('tooltip-top', 'tooltip-bottom');
      }
    });
  });

  document.getElementById('popupOverlay').addEventListener('click', function (event) {
    const popup = document.getElementById('popup');
    const popupOverlay = document.getElementById('popupOverlay');
    if (event.target === popupOverlay) {
      closePopup();
    }
  });

  function closePopup() {
    const popupOverlay2 = document.getElementById('uploadPopup');
    const popupOverlay = document.getElementById('popupOverlay');
    const popup = document.getElementById('popup');

    popupOverlay.style.display = 'none';
    popup.style.display = 'none';


  }

  function openTooltip() {
    const popupOverlay = document.getElementById('popupOverlay');
    const popup = document.getElementById('popup');

    popupOverlay.style.display = 'block';
    popup.style.display = 'block';

  }

  const userAvatarElement = document.getElementById("userAvatar");

  if (userAvatarElement) {
    fetch("/ITube/getUserAvatar", {
      method: "GET",
      headers: {
      }
    })
            .then(response => {
              if (response.ok) {
                return response.text();
              } else {
                throw new Error("Не вдалося отримати фото користувача");
              }
            })
            .then(base64Image => {
              userAvatarElement.src = base64Image;
            })
            .catch(error => {
              console.error(error);
            });
  }
</script>
</body>
</html>
